#tab-settings .feed-create {
	margin-top: -5px;
	position: absolute;
	right: 15px;
	font-size: 30px;
	color: lightgreen;
}

#tab-settings .input-url {
	width: 100%;
}

#tab-settings .feed-content p {
	font-size: 10px;
}

#tab-settings .select-container {
	margin: 0 20px 10px;
}

#tab-settings select {
	width: 50%;
	margin: 0;
	padding: 10px;
	background-color: white;
	color: black;
}

#tab-settings .select-value {
	border-radius: 5px 0 0 5px;
}

#tab-settings .select-type {
	border-radius: 0 5px 5px 0;
}

.settings-feed-create-popup h4 {
	font-weight: bold;
	font-size : 14px;
	margin-left: 5px;
	margin-bottom: 0;
}
.settings-feed-create-popup input {
	border-radius: 5px;
	padding: 0 10px;
}

.settings-feed-create-popup .buttons-container {
	margin-top: 20px;
}

.settings-feed-create-popup .buttons-container .button{
	width: 50%;
	display: inline-block;
}